//*** Using some good old school type code like px and floats ***//

// 1. General
// 2. Navigation
// 3. Header
// 4. Work
// 5. About

//*** Mixins ***//
@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
  }
  
  //*** Fonts ***//
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
  //*** 1. General  ***//
  html {
      scroll-behavior: smooth;
  }
  
  html,
  body {
      margin: 0 auto;
      height: 100%;
      font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-align: center;
      width:100%;
      background:#FCFBFC;
      max-width:1400px;
  }
  
  *, *::before, *::after {
      box-sizing: border-box;
    }
  
    h2{
        text-align: left;
        font-size:30px;
        font-weight: 400;
    }

  a {
      color: black;
      transition: all ease-out 300ms;
      text-decoration: none;
      border-bottom:2px solid lightgray;
      &:hover {
          opacity: 0.6;
          border-bottom:1px dotted;
          
          cursor: pointer;
      }
  }
  
  section {
      display: block;
  }
  p{
    text-align: left;
  }
  
  figure {
      width:100%;
      margin:0;
      img {
          width: 100%;
          background: black;
          }
  }
  
      figure img { width: 18vw; }
    .modal { 
        display: none; 
        position: fixed; top: 0; left: 0; width: 100vw; background: white; padding: 0 20px 0 20px; border: 1px solid #ccc; z-index: 100;overflow: scroll; height:100vh;
        h2{
            text-align: center;
            border-top: 1px solid black;
            max-width:600px;
            margin: 20px auto;
            padding-top: 20px;
        }
        figure{
            margin-top:50px;
            img{
                height:100vh;
                width:auto;
            }
            figcaption{
                font-size:14px;
                opacity: 0.7;
            }
        }
        p{
            max-width:600px;
            margin: 0 auto;
            text-align: left;
            padding-bottom: 40px;
            border-bottom: 1px solid black;
        }
        ul{
            text-align: left;
            max-width:600px;
            margin: 0 auto;
            padding:40px 0;
            li{
                list-style-type: none;
            }
        }
    }
    .modal:target { display: block; }
    a.close { float: right; text-decoration: none; font-size: 32px; border:none;
    &:hover{
        color:darkred;
        opacity: 1;
    }
    }
    .modal-nav { 
            a.prev{
            font-size: 36px;
text-decoration: none;
border:none;
position: absolute;
z-index: 5;
filter: alpha(opacity=80);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=80)";
padding: 0.5rem 1rem;
top: 50vh;
left:0;
        }
        a.next{
            font-size: 36px;
text-decoration: none;
border:none;
position: absolute;
z-index: 5;
filter: alpha(opacity=80);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=80)";
padding: 0.5rem 1rem;
top: 50vh;
right:0;
        }
        span{
            font-size:11px;
            display: block;
            text-transform: uppercase;
        }
    }

  //*** 2. Navigation ***//
  
  
  nav {
      position: fixed;
      top: 0;
      z-index: 2;
      width: 100%;
      max-width: 1400px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background: #FCFBFC;
      color: #555;
      height: 60px;
      padding: 16px 0;
  
      a {
          border-bottom:none;
          img {
              width: 30px;
              margin-top: 12px;
          }
  
          //img
          h1 {
              float: right;
              text-transform: uppercase;
              margin: 16px 0 20px 0;
              font-size: 26px;
              color: #222;
              text-align: left;
              font-weight: 500;
              line-height: 1;
              span {
                  font-weight: 600;
                  color: darkred;
              }
  
              //span
  
          }
  
          //h1
                      &:hover{
                  border:none;
                  }//&:hover
      }
  
      //a 
      ul.menu {
          list-style-type: none;
  
          li {
              a {
                  transition: all ease-out 250ms;
                  text-decoration: none;
                  display: inline-block;
                  position: relative; //underline animation
                  padding: 10px;
                  color: #222;
                  font-size:18px;
                  font-weight:300;
                  
                  &:after {
                      content: '';
                      position: absolute;
                      width: 100%;
                      transform: scaleX(0);
                      height: 2px;
                      bottom: 0;
                      left: 0;
                      background-color: darkred;
                      transition: transform 0.25s ease-out;
                  }
  
                  //&:hover
  
                  &:hover:after {
                      transform: scaleX(1);
                  }
  
                  //&:hover:after
                  &:hover {
                      color: #222;
                      opacity: 0.7;
                  }
  
                  //&:hover
                  &.active {
                      color: #222;
                      position: relative; //underline animation
                      padding: 10px;
                      font-weight: 600;
  
                      &:after {
                          content: '';
                          position: absolute;
                          width: 100%;
                          transform: scaleX(1);
                          height: 4px;
                          bottom: 0;
                          left: 0;
                          background-color: darkred;
                          transition: transform 0.25s ease-out;
                      }
  
                      //&:after
                  }
  
                  //&.active
              }
  
              //a
          }
  
          //li
      }
  
      //ul.menu
  
      .menu-button-container {
          display: none;
          height: 100%;
          width: 30px;
          cursor: pointer;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          
      }
  
      //.menu-button-container 
  
      #menu-toggle {
          display: none;
      }
  
      //#menu-toggle 
  
      .menu-button,
      .menu-button::before,
      .menu-button::after {
          display: block;
          background-color: #222;
          position: absolute;
          height: 2px;
          width: 30px;
   
          transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
  
      .menu-button {
          &::before {
              content: '';
              margin-top: -8px;
              
          }
  
          //&::before 
          &::after {
              content: '';
              margin-top: 8px;
          }
  
          //&::after 
      }
  
      //.menu-button
  
      #menu-toggle:checked+.menu-button-container {
          
          .menu-button {
              background: rgba(255, 255, 255, 0);
  
              &::before {
                  margin-top: 0px;
                  transform: rotate(45deg);
              }
  
              //&::before 
              &::after {
                  margin-top: 0px;
                  transform: rotate(-45deg);
              }
  
              //&::after 
          }
  
          //.menu-button
      }
  
      //#menu-toggle:checked + .menu-button-container
  }
  
  //.nav
  //*** End Navigation ***//
  
  
  
  
  
  
  
  //*** 3. Header ***//
  article {
      header {
          text-align: center;
          background-attachment: scroll;
          background-image: url(../img/header.jpg);
          background-position: center center;
          background-repeat: none;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          background-size: cover;
          -o-background-size: cover;
          min-height: 150px;
          max-height: 400px;
          background-color: black;
          h2 {
              padding-top: 300px;
              padding-bottom: 200px;
              margin: 0;
              font-weight: normal;
              font-style: italic;
              color: white;
          }
      }
  
      //header
  }
  
  //article
  
  
  
  
  //*** End 3. Header ***/
  
  //*** 4. Work ***//
  #work {
      padding-top: 60px;
      max-width: 1700px;
      margin: 0 auto 0 -5px;

      .item {
          display: block;
          cursor: pointer;
          float: left;
          width: 25%;
  
          img {
              width: 100%;
              background: black;
          }
  
          //img
          .overlay {
              position: absolute;
              width: 25%;
              height: 85%;
              opacity: 0;
              background: rgba(0, 0, 0, 0.8);
              -webkit-transition: all ease .5s;
              -moz-transition: all ease .5s;
              transition: all ease .5s;
          }
  
          .overlay h3 {
              position: absolute;
              top: 50%;
              width: 100%;
              height: 20px;
              margin-top: -12px;
              text-align: center;
              font-size: 20px;
              color: #fff;
          }
  
  
      }
  
      //.item
      .item:hover .overlay {
          opacity: 1;
      }
  
      .item:hover .overlay h2 {
          opacity: 1;
          margin-top: 8px;
      }
  }
  
  //#work
  

#gallery {
  margin-bottom: 20px;
  width: 100%;
display: flex;
flex-direction: column;
flex-wrap: wrap;
height: 475vw;
section figcaption{
    display: none;
}
}
  
  ///******
  .grid {
      position: relative;
      margin: 0 auto;
      list-style: none;
      text-align: center;
  
      figure {
          position: relative;
          float: left;
          overflow: hidden;
          width: 32.3%;
          margin:0.5%;
          text-align: center;
          cursor: pointer;
          img {
              position: relative;
              display: block;
              min-height: 100%;
              max-width: 100%;
              opacity: 0.8;
              background: black;
          }
  
          //img 
          figcaption {
              padding: 1.5vw;
              color: #fff;
              text-transform: uppercase;
              -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
              position: absolute;
              width: 25%;
              height: 85%;
              opacity: 0;
              -webkit-transition: all ease .8s;
              -moz-transition: all ease .8s;
              transition: all ease .8s;
  
              &::before,
              &::after {
                  pointer-events: none;
              }
  
              //&::before,&::after    
              a {
                  z-index: 1000;
                  text-indent: 200%;
                  white-space: nowrap;
                  font-size: 0;
                  opacity: 0;
              }
  
              //a
          }
  
          //figcaption
          &:hover figcaption {
              opacity: 1;
          }
  
          //&:hover figcaption
          figcaption,
          figcaption>a {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
          }
  
          //figcaption,figcaption > a 
          h2 {
              font-weight: 300;
              margin: 0;
              font-size: 2vw;
          }
  
          //h2
          p {
              letter-spacing: 1px;
              font-size: 1vw;
              margin: 0;
          }
  
          //p
          .tag{
              position: absolute;
              z-index: 1;
              right:0;
              width:25%;
              img{
                  background:none;
                  filter: grayscale(0.4);
              }
          }
          &:hover {
  
              h2,
              p {
                  opacity: 1;
                  -webkit-transform: translate3d(0, 0, 0);
                  transform: translate3d(0, 0, 0);
              }
  
              //h2,p
              figcaption {
  
                  &::before,
                  &::after {
                      opacity: 1;
                      -webkit-transform: scale(1);
                      transform: scale(1);
                  }
  
                  //&::before, &::after 
              }
  
              //figcaption
          }
  
          //&:hover
          background: #000;
  
          img {
              opacity: 1;
              -webkit-transition: opacity 0.3s;
              transition: opacity 0.3s;
              background: black;
              @include transition(all 500ms ease-in); 
          }
  
          //img
          &:hover img {
              opacity: 0.2;
              -webkit-transform: scale(1.1);
                      transform: scale(1.1);
                      @include transition(all 600ms ease-in); 
                      
          }
  
          figcaption {
  
              &::before,
              &::after {
                  position: absolute;
                  top: 5%;
                  right: 5%;
                  bottom: 5%;
                  left: 5%;
                  content: '';
                  opacity: 0;
                  -webkit-transition: opacity 0.7s, -webkit-transform 0.7s;
                  transition: opacity 0.7s, transform 0.7s;
              }
  
              //&::before,&::after
              &::before {
                  border-top: 1px solid #fff;
                  border-bottom: 1px solid #fff;
                  -webkit-transform: scale(0, 1);
                  transform: scale(0, 1);
              }
  
              //&::before
              &::after {
                  border-right: 1px solid #fff;
                  border-left: 1px solid #fff;
                  -webkit-transform: scale(1, 0);
                  transform: scale(1, 0);
              }
  
              //&::after
  
          }
  
          //figcaption
          h2 {
              padding: 20% 4% 0 4%;
              @include transition(all 300ms ease-in); 
              -webkit-transform: translate3d(0, -20px, 0);
              transform: translate3d(0, -20px, 0);
          }
  
          //h2
          p {
              padding: 20px 2.5em;
              opacity: 0;
              @include transition(all 300ms ease-in); 
              -webkit-transform: translate3d(0, 20px, 0);
              transform: translate3d(0, 20px, 0);
          }
  
          //p
      }
  
      //figure
  }
  
  //.grid
  
  
  //*** End .grid
  
 
  //*** End 4. Work ***//
  
  //*** 5. About ***//
  #about {
      padding: 30vh 0 10vh 0;
      position: relative;
      display: flex;
      align-items: flex-start;
      /*&:after{
          content: '';
         width:100px;
         border-bottom: 1px solid lightgray; 
         height: 20px;
         position: relative;
         display: block;
      }*/
      /* text-align: center;
background-attachment: scroll;
background-image: url(../img/michaelong-portrait.jpg);
background-position: center center;
background-repeat: none;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
min-height: 150px;
max-height: 100vh;
background-color: black;*/
      //max-width: 800px;
      img{
        width:50%;
        height: auto;
      }
        article{
            padding:20px 50px;
            position: relative;
width: 80%;
right: 0;
background: rgba(255,255,255,0.9);
margin-top:20%;
margin-left:-20%;
            p{
                width:100%;
                text-align: left;
                font-size: 20px;
                font-weight: 200;
                line-height: 1.5;
            }
          }
  }
  
  //#about
  
  //*** End 5. About ***//
  

#editorial{
    padding-top: 40px;
}
#editorial-article {
  width: 100%;
display: flex;
flex-direction: column;
flex-wrap: wrap;
height: 250vw;
section figcaption{
    display: none;
}
figure img{
    width:30vw;
}
}


  //*** Exhibitions and Commissions + Education ***//

  #exhibitions, #education{
    padding-top: 40px;
    margin-bottom: 80px;
    ul{
        margin-left:-40px;
        li{
        text-align: left;
        list-style-type: none;
    
        margin-top:12px;
        strong{
            margin-top:20px;
            color:darkred;
        }
        }
    }
  }

  
  
  //*** 8. Footer ***//
  footer {
      display: block;
      width: 100%;
      float: left;
      padding: 10px 0 10px 0;
      margin-top:60px;
      font-size: 12px;
      border-top: 1px dashed black;
      
      ul {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          list-style-type: none;
          text-transform: uppercase;
          margin-left:-40px;
          li {
              margin: 0 20px;
  
              a {
                  text-decoration: none;
                  color: #666;
                  border:none;
                  &:hover {
                      color: #333;
                  }
              }
  
              //a
          }
  
          //li
      }
  
      //ul
      p {
          font-size: 11px;
            text-align: center;
      }
  
      //p
  }
  
  @media (max-width: 1600px) {
      body{
      padding:0 24px 0 24px;
      }//body
  
      nav{
          width:calc(100% - 48px);
      }
      #project{ 
          padding: 150px 60px 150px 40px;
      }
      #work{
          margin:0;
      }
  }
  //@media (max-width: 1200px) 
  


  @media (max-width: 1200px), (hover: none){

      .grid {
          figure {
            background:none;
            &:hover img {
                opacity: 0.7;
                -webkit-transform: scale(1);
                        transform: scale(1);
                        
            }
     
              //img 
              figcaption {
                  padding: 12px;
                  opacity: 1;
                  position: relative;
                  transition: none;
                  height: 9vw;
              }
              h2,
              p {
                  opacity: 1;
                  
                  -webkit-transform: translate3d(0, 0, 0);
                  transform: translate3d(0, 0, 0);
                  transition: none;
                  color:black;
                  padding:0;
              }
  
              //h2,p
              figcaption {
  
                  &::before,
                  &::after {
                      opacity: 1;
                      -webkit-transform: scale(0);
                      transform: scale(0);
                      
                  }
  
                  //&::before, &::after 
              }
          }
      }
      .readmore-target {
        figure figcaption{
        height:0;
        padding:0; 
      }//.readmore-target
    }
      .readmore-state {
        display: none;
        &:checked~.readmore-target {
            figure figcaption{
                height:9vw;
                padding:12px; 
              }//.readmore-target
        }
    }  
  }

    @media (max-width: 800px), (hover: none){
    #about{
        display: block;
        position: relative;
        padding-top:50px;
        padding-bottom: 0;
        img{
            width:100%;
        }
        article{
            margin-top:40px;
            padding:0;
            width:100%;
            position: relative;
            margin-left:0;
    }
}

#gallery {
height: 1280vw;
figure img{
    width:30vw;
}
}


#editorial-article{
height: 540vw;
figure img{
    width:45vw;
}
}


.modal figure img {
  width: 80%;
  height:auto;
}
.modal-nav a.prev, .modal-nav a.next {
    top:45vw;
}
    }
  
  
  


  @media (max-width: 600px) {
  
    body{
        padding:0;
    }//body

    nav {
     width:100%;
     height:50px;
     padding: 0 12px 0 4px;
        a h1{
            font-size:24px;

        }
        .menu {
            position: absolute;
            top: 0;
            margin-top: 50px;
            left: 0;
            width: calc(100% + 40px);
            margin-left: -40px;

            >li {
                text-align: center;
                margin: 0;
                width: 100%;
                color: white;
                background-color: #222;

                &:not(:last-child) {
                    border-bottom: 1px solid #444;
                }
                //&:not(:last-child)
            }
            //> li 
        }

        //.menu

        .menu-button-container {
            display: flex;

        }

        //.menu-button-container 

        #menu-toggle {
            ~.menu li {
                height: 0;
                margin: 0;
                padding: 0;
                border: 0;
                transition: height 100ms cubic-bezier(0.23, 1, 0.32, 1);

                a {
                    opacity: 0;
                    padding: 5vh 0;
                }

                //a
            }

            //~ .menu li
            &:checked {
                ~.menu li {
                    border: 1px solid #333;
                    height: 100vh;
                    padding: 0.5em;
                    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
                    opacity: 1;

                    a {
                        opacity: 1;
                        display: block;
                        color:white;
                 
                        &:hover{
                            background: #444;
                        }
                        &:after{
                            background-color: white;
                        }//&:after
                        &.active{
                            border:2px solid white;
                            border-bottom:0;
                        }
                    }//a
                }//~ .menu li
            }//&:checked
        }//#menu-toggle  
    }//.nav
    #about{
      padding: 20vh 0 0 0;
  }
  section{
    h2{
    padding: 0 4px;
  }
  li{
     padding: 0 4px;
  }
  p{
    padding: 0 4px;
  }
  } 
  #gallery {
height: 1380vw;
figure img{
    width:32vw;
}
}



.grid{
        figure{
            width:100%;
            margin: 0 0 4px 0;
            figcaption{
              height: 25vw;
                h2{
                    font-size: 6vw;
                }
                p{
                    font-size: 3vw;
                }
            }
        }

        .readmore-target {
            figure figcaption{
            height:0;
            padding:0; 
          }//.readmore-target
        }
          .readmore-state {
            display: none;
            &:checked~.readmore-target {
                figure figcaption{
                    height:25vw;
                    padding:12px; 
                  }//.readmore-target
            }
        }
    
    }
    #achievements{
        padding:0;
    }


    #project {
    padding: 100px 0;
    header{
        h2,h3{
            padding:0 2%;
            }//h2, h3
    }//header
    article{
        width:calc(100% + 3px);
        padding: 0 24px;
        h4, p{
        padding:0;
    }//h4, p

    }// article
}//#project

    article {
        header {
            max-height: 100vh;
            height: 100vh;

            h2 {
                padding: 40vh 5px 0 5px;


                span {
                    display: block;
                }
            }
        }

        //header
    }
    //article
    footer{
        padding:40px 24px 10px 24px;
    }


}