main {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 190vw;
}
main section {
  display: flex;
  flex-wrap: wrap;
  width: 13.3%;
}
main section > a {
  text-decoration: none;
}
main section > a:hover {
  opacity: 0.8;
  font-style: italic;
}
main section > a figure {
  margin: 0;
}
main section > a figure img {
  width: 100%;
}
main section > a figure figcaption {
  color: black;
  font-size: 0.8em;
}
main section article {
  width: 0;
  height: 0;
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  padding: 0;
  z-index: 3;
  text-align: center;
  background: white;
}
main section article figure {
  margin: 0;
}
main section article figure img {
  width: 100%;
}
main section article a.close {
  z-index: 4;
  position: absolute;
  text-decoration: none;
  color: black;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  opacity: 0;
  filter: alpha(opacity=0);
  /* internet explorer */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
  /*IE8*/
}
main section article:target {
  width: auto;
  height: auto;
  bottom: 0px;
  right: 0px;
  padding: 7% 10% 0 10%;
  overflow: scroll;
}
main section article:target a.close {
  opacity: 1;
  filter: alpha(opacity=99);
  /* internet explorer */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
  /*IE8*/
}

.modal-prev, .modal-next {
  font-size: 2em;
  color: #000;
  text-decoration: none;
  position: absolute;
  z-index: 5;
  filter: alpha(opacity=80);
  /* internet explorer */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=80)";
  /*IE8*/
  padding: 0.5rem 1rem;
  top: 50vh;
}
.modal-prev:hover, .modal-next:hover {
  opacity: 0.7;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
  filter: alpha(opacity=99);
  /* internet explorer */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
  /*IE8*/
}

.modal-prev {
  left: 0;
}

.modal-next {
  right: 0;
}

@media (max-width: 500px) {
  main {
    height: 1900vh;
  }
  main section {
    width: 50%;
    padding-bottom: 1em;
  }

  .modal-prev, .modal-next {
    top: 90vh;
  }
}
